<div id="{{ content.field_class.0['#context'].value }}" class="accesoriu_individual">
  <div class="title">{{ content.field_titlu|raw }}</div>
  <div class="description">{{ content.field_continut|raw }}</div>
  <div class="image">{{ content.field_imagine|raw }}</div>
</div>
